<h2>Lista de Productos</h2>

{{#if products}}
    <ul>
        {{#each products}}
        <li>
            <strong>{{this.title}}</strong> - ${{this.price}}
            <br>
            {{this.description}}
            <br>
            <small>Stock: {{this.stock}} | Categoría: {{this.category}} | Código: {{this.code}}</small>
        </li>
        {{/each}}
    </ul>
{{else}}
    <p>No hay productos disponibles.</p>
{{/if}}